body {
  background-color: black;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica", sans-serif;
  color: white;
  margin-left: 20px;
}


/* unvisited link */
a:link {
  font-family: "Helvetica", sans-serif;
  color: pink;
  margin-left: 20px;
  text-shadow: white 0.1vh 0.1vh;
}

/* visited link */
a:visited {
  color: red;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.1vh 0.1vh;
}

/* mouse over link */
a:hover {
  color: white;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.1vh 0.1vh;
}

/* selected link */
a:active {
  color: lightblue;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.1vh 0.1vh;
}

