body {
  background-color: white;
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: "Helvetica", sans-serif;
}
/*
  color: blue;
  text-shadow: white 0.3vh 0.3vh;
  size: 
}



a:link {
  font-family: "Helvetica", sans-serif;
  color: orange;
  margin-left: 20px;
  text-shadow: white 0.15vh 0.15vh;
}


a:visited {
  color: brown;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.15vh 0.15vh;
}


a:hover {
  color: yellow;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.15vh 0.15vh;
}


a:active {
  color: blue;
  font-family: "Helvetica", sans-serif;
  margin-left: 20px;
  text-shadow: white 0.15vh 0.15vh;
}
-->
*/
